@import "global-functions";
@import "global-mixins";
@import "global-variables";
@import "global-placeholders";

body {
    @include flex(center, center, column);
    background-color: $light-charcoal;
    font-family: $jetbrains-mono-font;
    @extend %no-margin-padding;
    main {
        width: 100%;
        @include flex(center, center, column);
    }
}
h1 {
    font-size: $h1-font-size;
    @extend %no-margin-padding;
}
h2 {
    font-size: $h2-font-size;
    @extend %no-margin-padding;
}
h3 {
    font-size: $h3-font-size;
    @extend %no-margin-padding;
}
h4 {
    font-size: $h4-font-size;
    @extend %no-margin-padding;
}
h5 {
    font-size: $h5-font-size;
    @extend %no-margin-padding;
}
h6 {
    font-size: $h6-font-size;
    @extend %no-margin-padding;
}
p {
    font-size: $h6-font-size;
    @extend %no-margin-padding;
}
header {
    @include flex(center, center, row);
    width: 100%;
    height: calc-size(7, 2, 1);
    background-color: $charcoal;
    top: 0;
    left: 0;
    margin: 0 0 $one-percent 0;
    border-bottom: $absolute-black solid $very-thin-border;
    nav {
        width: 50%;
        @include flex(space-around, center, row);
        a {
            @include flex(center, center, row);
            padding: $quarter-percent $half-percent;
            background-color: $light-charcoal;
            @extend %link-no-style, %soft-border-curve;
            h4 {
                color: $soft-gold;
            }
            &:hover {
                background-color: $soft-gold;
                h4 {
                    color: $light-charcoal;
                }
            }
        }
    }
}
hr {
    border-top: $thin-border solid $charcoal;
    box-shadow: $light-charcoal 0 0 $thirty-five-percent $sixteenth-percent;
}